:root {
  /* Spidr Design colors */
  --spidr-blue: rgb(86, 172, 189);
  --spidr-black: rgb(51, 51, 51);
  --spidr-gray-dark: rgb(51, 51, 51, 0.6);
  --spidr-gray-light: #c8c4c4;
  --spidr-white: rgb(255, 255, 255);
}

body {
  margin: 0;
  display: flex;  
  place-items: center;
  background-color: var(--spidr-black);
  font-family: "General Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
}